<h1>Ng Magnizoom</h1>

<button style="position: fixed; top: 10px; right: 10px;" (click)="toggleImageSrc()">Toggle Image</button>

<h2>Mode</h2>
<h3>Lens</h3>
<ng-magnizoom zoomMode="LENS" imageSrc="{{imageSrc}}"></ng-magnizoom>
<h3>Cover</h3>
<ng-magnizoom zoomMode="COVER" imageSrc="{{imageSrc}}"></ng-magnizoom>


<h2>Multiple</h2>
<ng-magnizoom zoomMode="LENS" imageSrc="{{imageSrc}}"></ng-magnizoom>
<ng-magnizoom zoomMode="COVER" imageSrc="{{imageSrc}}"></ng-magnizoom>
<ng-magnizoom zoomMode="LENS" imageSrc="{{imageSrc}}"></ng-magnizoom>


<h2>ImageStyle / ImageClass</h2>
<div style="width: 800px; height: 600px; border: 5px solid black;">
  <ng-magnizoom
    [imageStyle]="{ 'max-width': '100%', 'max-height': '100%' }"
    [imageClass]="{ 'custom-class': true }"
    imageSrc="https://images.unsplash.com/photo-1490730141103-6cac27aaab94">
  </ng-magnizoom>
</div>

<h2>Fix size and position</h2>
<ng-magnizoom
  zoomMode="LENS"
  [updateOnMouseEvents]="false"
  lensSizeUnit="PIXEL"
  zoomCenterUnit="PIXEL"
  [lensSize]="{ width: 100, height: 160 }"
  [zoomCenter]="{ x: 100, y: 100 }"
  imageSrc="{{imageSrc}}">
</ng-magnizoom>

<h2>Fix size and position</h2>
<pre>{{ zoom | json }}</pre>
<pre>{{ position | json }}</pre>
<ng-magnizoom
  zoomMode="LENS"
  zoomCenterUnit="PIXEL"
  [lensSize]="{ width: 0.25, height: 0.25 }"
  [(zoomCenter)]="position"
  [(zoomFactor)]="zoom"
  imageSrc="{{imageSrc}}">
</ng-magnizoom>
